body {
    padding: 2%;
}

.color {
    display: inline-block;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

#color-palette div:nth-child(1) {
    background-color: black;
}

#color-palette div:nth-child(2) {
    background-color: yellow;
}

#color-palette div:nth-child(3) {
    background-color: blue;
}

#color-palette div:nth-child(4) {
    background-color: green;
}

#pixel-board {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: start;
}

.pixel {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

#clear-board {
    margin: 1% 0% 1% 0%;
}