.recomendations-container {
  display: flex;
  margin-bottom: 50px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.normal-text {
  color: #6c757d;
  font-family: Source Sans Pro , sans-serif;
  font-weight: 600;
}

.return-button {
  background-color: transparent;
  border: none;
  font-size: 2.1em;
  font-weight: 600;
  position: absolute;
}

.recipe-image {
  height: 300px;
  object-fit: cover;
  object-position: center;
  width: 100vw;
}

.recipe-title {
  color: #6c757d;
  font-family: Titan One , sans-serif;
  font-size: 2em;
}

.section-title {
  color: #6c757d;
  font-family: Titan One , sans-serif;
}

.card-text {
  font-family: Titan One , sans-serif;
  opacity: 1;
}
